[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/microcompute"]
	path = lib/microcompute
	url = git@github.com:kal39/microcompute.git
[submodule "lib/shaderc"]
	path = lib/shaderc
	url = https://github.com/google/shaderc.git